.Regularprice{
    float: left;
    text-decoration: line-through;
    text-decoration-color: red;
}
.Saleprice{
    float: left;
    padding-left: 10px;
    font-weight: bold;
    

}
.addToCartBtn{
    /* float: right; */
    background-color: #f7ad22 !important;
    color: #000000 !important;
    font-weight: bold;
    border: 1px solid #f7ad22 !important;
    border-radius: 25px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 15px;

    
}
p{
    text-align: left;
}
.itemBox{
    border: 1px solid #b9b7b7;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 20px;
}
.margin-top20{
    margin-top:20px;
}
.itemDetail{
    display: inline-block;
    width: 100%;
    background: #ffffff;
    padding: 5px 10px; 
}
.redStrike{
    color:red;
}
.productImage{
    width: 100%;
}
.discountRate{
    float: right;
    color: green;
}